@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$body-font: 'Alata', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$background-c:  #F2F2F2;

.hpage-main {
    background: $background-c;
    box-sizing: border-box;
}


.hpage-main-pic {
    background: url('../images/h-opta.jpg');
}

.hpage-filler-pic {
    background: url('../images/hpage-filler.jpg');
}

.hpage-footer-pic {
    background: url('../images/hpage-footer-pic.jpg')
}

.hpage-main-pic,
.hpage-filler-pic,
.hpage-footer-pic {
    height: 500px;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hpage-title {
    font-family: $title-font;
    font-size: 12rem;
    margin: 0px;
    color: $accent-color;
    padding-left: 120px;
}

.hpage-p {
    font-family: $body-font;
    color: $second-color;
    font-size: 1.2rem;
    margin: 0px;
    padding: 5px;
}

.hpage-accent {
    color: $accent-color;
    font-size: 2rem;
}

.hpage-wordbox {
    text-align: right;
    padding-right: 80px;
    padding-bottom: 20px;
}

.hpage-wordbox-one {
    text-align: left;
    padding: 20px 0px 20px 120px;
}

@media screen and (max-width: 400px) {
    .hpage-title {
        padding-left: 0px
    }
}