@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$body-font: 'Montserrat', sans-serif;
$main-color: #E7D2CC;
$second-color: #868B8E;
$third-color: #B9B7BD;
$background-c:  #EEEDE780;

main {
    box-sizing: border-box;
}

.hpage-main {
    height: 450px;
    background: url('../images/h-opta.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hpage-filler {
    height: 450px;
    background: url('../images/hpage-filler.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hpage-content {
    background: $background-c;
}

.hpage-title {
    font-family: $title-font;
    font-size: 12rem;
    margin: 0px;
    color: $main-color;
    padding-left: 120px;
}

.hpage-p {
    font-family: $body-font;
    color: $second-color;
    font-size: 1.2rem;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
}

.hpage-accent {
    color: $main-color;
    font-size: 2rem;
}

.hpage-wordbox {
    background: $background-c;
    text-align: right;
    padding-right: 80px;
    padding-bottom: 20px;
}