@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$header-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$background-c:  #F2F2F2;
$spacing: 20px 0px 20px 0px;
$lightg-color: #868B8E;
$background-d: #072626;
$margin-space: 40px;
$hover-font: 1.3rem;

.list-main {
    box-sizing: border-box;
    background: url('../images/form-filler.jpg');
    background-position: center;
    background-size: cover;
    font-family: $body-font;
    padding: 64px;
    text-align: center;
    color: $second-color;
}

label {
    font-size: 1.2rem;
    font-family: $title-font;
}

.list-input, .list-button {
    padding: 10px;
    outline: none;
    border: none;
}

.list-input {
    width: 300px;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px white;
    margin: 20px;
    border-radius: 10px;
    background: $background-c;
    box-shadow:  5px 5px 10px #bebebe;
}

.list-input:hover {
    padding: 13px;
    font-size: $hover-font;
}

.list-button {
    margin-top: $margin-space;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 10px;
    color: $second-color;
    background: $background-c;
    box-shadow: 
    inset 20px 20px 40px #bebebe,
    inset -20px -20px 40px #ffffff;
}

.list-button:hover {
    font-size: $hover-font;
    background: $background-c;
    box-shadow: 
        10px 0px 14px -7px,
        inset -20px -20px 60px #bebebe,
        inset 20px 20px 60px #ffffff;
}

.list-text {
    width: 300px;
    height: 100px;
}