@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$title-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$main-color: #646173;
$second-color: #868B8E;
$third-color: #B9B7BD;
$background-c:  #EEEDE780;
$accent-color: #E7D2CC;
$margin-space: 30px;
$hover-font: 1.2rem;

.list-main {
    box-sizing: border-box;
    background: $background-c;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: $body-font;
    padding: 64px;
    text-align: center;
    color: $main-color;
}

label {
    font-size: 1.2rem;
    font-family: $title-font;
}

.list-input, .list-button {
    padding: 10px;
    outline: none;
    border: none;
}

.list-input {
    width: 25%;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px white;
    margin: 20px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #ffffff;
}

.list-input:hover {
    padding: 13px;
    font-size: $hover-font;
}

.list-button {
    margin-top: $margin-space;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 10px;
    color: $main-color;
    background: #e0e0e0;
    box-shadow: 
    inset 20px 20px 40px #bebebe,
    inset -20px -20px 40px #ffffff;
}

.list-button:hover {
    font-size: $hover-font;
    background: #e0e0e0;
    box-shadow: 
        10px 0px 14px -7px,
        inset -20px -20px 60px #bebebe,
        inset 20px 20px 60px #ffffff;
}

.list-text {
    width: 25%;
    height: 100px;
}