@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$header-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$lightg-color: #868B8E80;
$background-c:  #F2F2F2;
$background-d: #072626;
img {
    display: inline-block;
    width: 100%;
}

.list-show-main {
    box-sizing: border-box;
    background: $background-c;
    padding: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.list-show-link, .list-show-link-zero {
    font-family: $header-font;
    text-decoration: none;
    color: $background-c;
    text-align: center;
}

.list-show-link-zero {
    font-size: 1.3rem;
}

.list-show-link-zero:hover {
    font-size: 1.4rem;
    color: $accent-color;
}

.list-show-link:hover {
    font-size: 1.2rem;
    color: $accent-color
}

.list-show-card {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    white-space: wrap;
    background: $background-d;
    color: $background-c;
    font-family: $body-font;
    padding-bottom: 10px;
    box-shadow: 5px 10px 10px #B9B7BD; 
}

.list-show-content {
    padding: 10px;
}
