@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$header-font:'Gochi Hand', cursive;
$body-font: 'Montserrat', sans-serif;
$main-color: #646173;
$second-color: #868B8E;
$third-color: #B9B7BD;
$background-c:  #EEEDE780;
$accent-color: #E7D2CC;

.loc-main {
    box-sizing: border-box;
    background-color: $background-c;
    padding: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    // gap: 100px;
}

.loc-card-title {
    font-family: $body-font;
}

.loc-link {
    text-decoration: none;
    color: $main-color;
}

.loc-card {
    background: url('../images/opt-e.jpg');
    background-position: center;
    background-size: cover;
    margin: 60px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    -webkit-box-reflect:below 2px 
    linear-gradient(transparent, transparent, #0004);
}

.loc-card:hover {
    opacity:1;
    width: 300px;
    height: 300px;
}