@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$header-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$lightg-color: #868B8E;
$background-c:  #F2F2F2;

.loc-main {
    box-sizing: border-box;
    background-color: $background-c;
    padding: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.loc-card-title {
    font-family: $body-font;
    letter-spacing: 4px;
}

.loc-link {
    text-decoration: none;
    color: $second-color;
}

.loc-card {
    background: url('../images/opt-e.jpg');
    background-position: center;
    background-size: cover;
    margin: 60px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    -webkit-box-reflect:below 2px 
    linear-gradient(transparent, transparent, #0004);
}

.loc-card:hover {
    opacity:1;
    width: 350px;
    height: 350px;
}

@media screen and (max-width: 400px) {
    .loc-card {
        width: 200px;
        height: 200px;
    }

    .loc-card:hover {
        width: 300px;
        height: 300px;
    }
}