@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$body-font: 'Montserrat', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$background-c:  #F2F2F2;
$spacing: 20px 0px 20px 0px;
$lightg-color: #868B8E;
$background-d: #072626;
$margin-space: 30px;
$hover-font: 1.4rem;

.log-main {
    box-sizing: border-box;
    background:$background-c;
    font-family: $body-font;
    text-align: center;
    color: $second-color;
}

.log-form {
    margin-bottom: $margin-space;
    padding: $margin-space;
}

.log-label {
    display: none;
}

.log-input, .log-button {
    padding: 10px;
    outline: none;
    border: none;
}

.log-input {
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px white;
    margin: 20px;
    border-radius: 10px;
    background: $background-c;
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #ffffff;
}

.log-input:hover {
    padding: 13px;
    font-size: $hover-font;
}

.login-fill {
    background: url('../images/login-filler.jpg');
}

.login-fillb {
    background: url('../images/login-filler-a.jpg');
}

.login-filla {
    background: url('../images/login-fillerb.jpg');
    margin-top: $margin-space;
}

.login-fill,
.login-filla,
.login-fillb {
    height: 500px;
    background-size: cover;
    background-position: center;
}


.log-button {
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    color: $second-color;
    background: $background-c;
    box-shadow: 
        inset 20px 20px 40px #bebebe,
        inset -20px -20px 40px #ffffff;
}

.log-button:hover {
    font-size: $hover-font;
    background: $background-c;
    box-shadow: 
        10px 0px 14px -7px,
        inset -20px -20px 60px #bebebe,
        inset 20px 20px 60px #ffffff;
}

.log-quest {
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px white;
    margin-top: $margin-space;
}

.log-break {
    margin: 30px 0px;
    border: 0;
    height: 1px;
    background-image: 
        linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0));
}