@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$header-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$background-c:  #F2F2F2;
$spacing: 20px 0px 20px 0px;
$lightg-color: #868B8E;
$background-d: #072626;
$margin-space: 40px;


.profile-main {
    box-sizing: border-box;
    background-color: $background-c;
    padding: 64px 64px 20px 64px;
}

.profile-filler{
    background: url('../images/profile-filler.jpg');
    height: 500px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.profile-name-person {
    color: $second-color;
    font: $body-font;
}

.profile-title {
    font-family: $title-font;
    color: $second-color;
    margin: 0px;
}

.age {
    color: $second-color;
    font-family: $body-font;
}

.profile-content {
    color: $second-color;
    font-family: $body-font;
    margin-top: $margin-space;
}

.profile-social {
    margin-top: $margin-space;
}

.profile-social-loggedin {
   display: flex;
   justify-content: center;
}

.profile-icon {
    padding: 15px;
    color: red;
}


.profile-pic {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #B9B7BD; 
}

.profile-bio {
    font-family: $body-font;
    color: $second-color;
}

.profile-headers {
    color: $lightg-color;
    font-family: $header-font;
    margin: 40px 0px;
}

.profile-banner {
    display: flex;
    align-items: center;
    flex-flow: column;
}