@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$header-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$main-color: #646173;
$second-color: #868B8E;
$third-color: #B9B7BD;
$background-c:  #EEEDE780;
$accent-color: #E7D2CC;
$margin-space: 30px;

.profile-main,
.profile-problem-main {
    box-sizing: border-box;
    background-color: $background-c;
    padding: 64px;
    // text-shadow: 2px 2px white;
    margin: -15px;
}

.profile-problem-main {
    // height: 100vh;
}

.profile-name-person {
    color: $main-color;
    font: $body-font;
}

.profile-title {
    font-family: $title-font;
    color: $main-color;
    margin: 0px;
}

.age {
    color: $main-color;
    font-family: $body-font;
}

.profile-content {
    color: $second-color;
    font-family: $body-font;
    margin-top: $margin-space;
}

.profile-social-loggedin {
   display: flex;
   justify-content: center;
}

.profile-icon {
    padding: 15px;
    color: red;
}


.profile-pic {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #B9B7BD; 
}

.profile-bio {
    font-family: $body-font;
    color: $main-color;
}

.profile-headers {
    color: $second-color;
    font-family: $header-font;
}

.profile-banner {
    display: flex;
    align-items: center;
    flex-flow: column;
}