@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&display=swap');

$body-font: 'Montserrat', sans-serif;
$main-color: #646173;
$second-color: #868B8E;
$third-color: #B9B7BD;
$background-c:  #EEEDE780;
$accent-color: #E7D2CC;

.room-main {
    box-sizing: border-box;
    background: $background-c;
    padding: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 50px;
}

.room-link {
    text-decoration: none;
}

.room-card {
    box-shadow: 0px 10px 10px #B9B7BD; 
    position: relative;
    height: 379px;
    border-radius: 10px;
    width: 300px;
    opacity: .6;
}

.room-card:hover {
   opacity: 1;
}

.room-top-left{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 1.2rem;
    font-family: $body-font;
    color:$main-color;
    font-weight: bold;
}
