@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

$title-font:'Lato', sans-serif;
$header-font: 'Alata', sans-serif;
$body-font: 'Montserrat', sans-serif;
$accent-color:  #8C4A3B;
$second-color: #44525F;
$background-c:  #F2F2F2;
$spacing: 20px 0px 20px 0px;
$lightg-color: #868B8E;
$background-d: #072626;
$margin-space: 40px;

.single-main {
    box-sizing: border-box;
    background-color: $background-c;
    padding: 64px;
}

.single-content {
    margin-bottom: $margin-space;
    color: $second-color;
}

.single-title,
.single-price {
    font-family: $title-font;
}

.single-price {
    color: #d01616;
}

.single-lister {
    font-family: $title-font;
    color: $second-color;
    text-decoration: none;
}

.single-lister:hover {
    color: $accent-color;
    font-size: 1.4rem;
}

.single-filler-content{
    font-family: $body-font;
    color: $lightg-color;
    margin-bottom: $margin-space;
}

.single-buttons {
    display: flex;
    justify-content: center;
}

.single-onebtn {
    display: inline-block;
    margin: 20px 40px;
    padding: 5px 15px 5px 15px;
    color: $background-c;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background:  #44525F;
    box-shadow: 0px 5px 5px #B9B7BD, 
        inset 20px -20px 60px #3a4651,
        inset -20px 20px 60px #4e5e6d;
}

.single-onebtn:hover {
    font-size: 1.4rem;
}

.single-carousel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: $margin-space;
}

.single-map {
    margin-top: $margin-space;
    border-radius: 10px;
    background: transparent;
    text-align: center;
    margin-bottom: $margin-space;
}

.map-container {
    width: 800px;
}